
  .Text {
    /* background: #ff0066; */
    /* color: rgb(81, 6, 6); */
    font-family: sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 0;
    text-align: center;
    margin: 100px 0 40px ;
    color: #867575;
    /* width : 540px; */
    
  }
  /* @media screen and (max-width: 480px) {
    .Text{
        width:300px;
        /* text-wrap : wrap; */
        /* word-wrap: break-word; */

    
  
